.index {
  padding: 1.6rem 0;
  .index-header {
    color: #fff;
    span {
      font-weight: 600;
      font-size: 2rem;
    }
    .base-style {
      display: flex;
    }

    .wechat {
      background: linear-gradient(to right, #0cc161, #0091ea);
    }

    .reactjs {
      background: linear-gradient(to right, #35495e, #5fd3f3);
    }

    .vuejs {
      background: linear-gradient(to right, #35495e, #40b882);
      // background-color:
    }

    .native {
      background: linear-gradient(to right, #35495e, #0091ea);
    }

    .icon-style {
      color: #fbfbf4b3;
      width: 65px;
      height: 60px;
      font-size: 6rem;
      padding-right: 1rem;
    }
    .wechatapp {
      width: 80%;
      text-align: center;
    }
    .icon-style-left {
      padding-right: 0rem;
    }
  }
  .hot_article {
    background: red;
  }
}
