.index {
    padding: 1.6rem 0;
    .index-header {
        color: #fff;
        span {
            font-weight: 600;
            font-size: 2rem;
        }
        .base-style {
            display: flex;
        }

        .wechat {
            background-color: #0CC161;
        }

        .qq {
            background-color: #967adc;
        }

        .vuejs {
            background-color: #35495E;
            // background-color:#40B882
        }

        .weibo {
            background-color: #fb452d;
        }

        .icon-style {
            color: #fbfbf4b3;
            font-size: 6rem;
            padding-right: 1rem;
        }
    }
    .hot_article{
      background:red
    }
}
